@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@font-face {
	font-family: LatoBold;
	src: url("../fonts/LatoBold/LatoBold.eot");
	src: url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GilroySemiBold";
	src: url("../fonts/Gilroy/Gilroy-Semibold.eot");
	src: url("../fonts/Gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "GilroyRegular";
	src: url("../fonts/Gilroy/Gilroy-Regular.eot");
	src: url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

body {
	font-family: GilroyRegular, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.row, .w-100 {
	margin-left: 0;
	margin-right: 0;
}

.text-bold {
	font-family: GilroySemiBold, Arial, Helvetica, sans-serif;
	font-weight: 900;
}

.text-lato {
	font-family: 'LatoBold', sans-serif;
	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
}

.text-yellow {
	color: #FCE559;
}

.yellow {
	color: #FAD264;
}

.text-logo {
	font-size: 14px;
	line-height: 16px;
}

.text-big {
	font-size: 30px;
	line-height: 36px;
}

.top .container-fluid {
	background-image: url(../img/bg_md.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.logo__img {
	width: 52px;
}

.top .text-big {
	margin-top: 2px;
}

.line {
	width: 70px;
}

.font-24_28 {
	font-size: 24px;
	line-height: 28px;
}

.card {
	width: 320px;
	height: 118px;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	margin-bottom: 1px;
}

.card-img-top {
	width: 44px;
}

.text-calendar {
	line-height: 22px;
}

.form-control, .btn-primary,
.form-control, .btn-primary:hover {
	width: 270px;
	height: 56px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	align-items: center;
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}

.btn-primary,
.btn-primary:hover {
	background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
	color: #000000;
}

small {
	font-size: 14px;
	line-height: 24px;
}

.calendar-container {
	max-width: 320px;
	width: 100%;
}

.text-header-bottom {
	font-size: 14px;
	line-height: 16px;
}

.top-bottom {
	position: relative;
}

.top-bottom .element-2 {
	position: absolute;
	top: -81px;
	right: -4px;
}

.main h2 {
	font-size: 36px;
	line-height: 44px;
}

.main-line {
	padding-top: 2px;
}

.bg-yellow {
	background-color: #FAD264;
	max-width: 284px;
}

.bg-violet {
	background-color: #320B61;	 
}

.bg-indigo {
	background-color: #42196D;
}

.text-violet {
	color: #320B61;
}

main .info .container-fluid {
	background-image: none;
}

.day .bg-violet {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
}

.day .shadow {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.day .item {
	background-image: url(../img/listStyleImg_1.png);
	background-repeat: no-repeat;
	background-position: top left;
}

.day h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

.day ul {
	list-style-image: url(../img/Ellipse.png);
}

.card-info {
	width: 349px;
	min-height: 440px;
	border-radius: 40px;
}

.card-title-info {
	font-size: 18px;
	line-height: 22px;
	color: #292841;
}

.skills {
	list-style: none;
}

.skills li {
	background-image: url(../img/listStyleImg_2.png);
	background-repeat: no-repeat;
	background-position: left 8px;
}

.bg-light-gray {
	background-color: #F6F6F6;
}

.with-el_4 {
	position: relative;
}

.el_4 {
	position: absolute;
	top: -7px;
	right: 97px;
}

.with-el_4 p {
	font-size: 36px;
	line-height: 42px;
	color: rgba(0, 0, 0, 0.8);
}

.Stages {
	position: relative;
	width: 1110px;
}

.stage_4, .stage_5 {
	position: absolute;
}

.stage_4 {
	top: 44px;
	right: 280px;
}

.stage_5 {
	top: 44px;
	right: 65px;
}

.Mulish {
	font-family: 'Mulish', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	color: #060606;
}

strong {
	font-weight: bold;
}

.practicum .heading {
	font-size: 24px;
	line-height: 29px;
}

.col-heading {
	max-width: 540px;
}

.practicum .before {
	background-color: #C4C4C4;
	color: rgba(0, 0, 0, 0.8);
}

.practicum .btn-primary,
.practicum .btn-primary:hover {
	width: 350px;
	height: 56px;
}

.author h2 {
	line-height: 28px;
}

.name {
	color: rgba(0, 0, 0, 0.8);
}

.autor__heading {
	position: relative;
}

.autor__heading img {
	position: absolute;
	width: 160px;
	top: 0;
	right: 95px;
}

.author ul {
	list-style: none;
}

.author li {
	height: 38.5px;
	background-image: url(../img/listStyleImg_3.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto;
}

.form-bottom .container-fluid {
	background-image: url(../img/bgBottom.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.heading-bottom {
	line-height: 65px;
}

.font-50_65 {
	font-size: 50px;
	line-height: 65px;
}

.font-20_26 {
	font-size: 20px;
	line-height: 26px;
}

.font-18_24 {
	font-size: 18px;
	line-height: 24px;
}

.font-16_19 {
	font-size: 16px;
	line-height: 19px;
}

.border-form {
	border: 2px solid #FFFFFF;
	border-radius: 15px;
}

.form-bottom input,
.form-bottom button,
.form-bottom button:hover {
	width: 294px;
	height: 66px;
	border-radius: 30px;
	font-size: 20px;
	line-height: 20px;
}

.form-bottom button,
.form-bottom button:hover {
	background: #F7C847;
	box-shadow: 0px 10px 40px rgba(255, 223, 135, 0.5);
}

.form-bottom .small {
	font-size: 14px;
	line-height: 130%;
}

footer .containter-fluid {
	background: linear-gradient(0deg, #320C5A, #320C5A);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #F4F9FF;
}

footer .lato-bold {
	font-family: 'LatoBold', sans-serif;
}

footer a {
	text-decoration: none;
	color: inherit;
}

@media (max-width: 767px) {
	.card-text {
		font-size: 16px;
		line-height: 19px;
	}
}

@media (min-width: 768px) {
	.text-big {
		font-size: 36px;
		line-height: 44px;
	}
	.logo__img {
		margin-top: -2px;
	}
	.text-logo {
		font-size: 18px;
		line-height: 26px;
	}
	.cards {
		position: relative;
	}
	.card {
		width: 265px;
		height: 145px;
	}
	.el1_md {
		position: absolute;
		top: 170px;
		left: 10px;
	}
	.calendar {
		width: 27px;
	}
	.calendar-container {
		max-width: 100%;
		width: 100%;
	}
	.text-header-bottom {
		font-size: 16px;
		line-height: 19px;
	}
}

@media (min-width: 1200px) {
	.text-big {
		font-size: 50px;
		line-height: 60px;
	}
	.top .container-fluid {
		background-image: url(../img/bg_lg.jpg);
	}
	.top .container:first-child {
		margin-top: 2px;
	}
	.logo__img {
		width: 68px;
	}
	.line {
		width: 83px;
	}
	.card {
		width: 287px;
		height: 125px;
	}
	.el1_md {
		top: 187px;
		left: -33px;
		width: 122px;
	}
	.text-calendar {
		font-size: 20px;
		line-height: 24px;
	}
	.form-control, .btn-primary,
	.form-control, .btn-primary:hover {
		width: 254px;
	}
}